<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-md  fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Vigil</a>
    </div>
  </div>


    <div >

        {% if user.is_authenticated %}
{#                <a href="/profile/{{ user.id }}"><i class="far fa-user" style='font-size:30px;color:black;' ></i></a>#}
{#                <a href="/new/post"><i class="far fa-plus-square" style='font-size:30px;color:black;' ></i></a>#}
{#                <a href="#"><i class="far fa-heart" style='font-size:30px;color:black;'></i></a>#}


            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                  <li>
                    <a href="/updateprofile">Edit</a>
                  </li>
                    <li>
                    <a href="{% url 'profile' user_id=user.id %}">Profile</a>
                  </li
                </ul>
              </li>
                <a href="/profile"><i class="far fa-user"></i></a>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}

    </div>


</nav>
</body>
</html>